@import "../../styles/index.scss";

.nav-item {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  position: relative;
  @include smooth-transition(color);

  // Desktop style
  .nav-desktop & {
    font-size: 0.9rem;
    color: $color-text-dark;
    padding: $space-sm 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-secondary;
      @include smooth-transition(width);
    }

    &:hover {
      color: $color-primary-dark;

      &::after {
        width: 100%;
      }
    }

    &--active {
      color: $color-primary-dark;

      &::after {
        width: 100%;
        background-color: $color-primary;
      }
    }
  }

  // Mobile style
  .nav-mobile & {
    font-size: 1.75rem;
    font-weight: 600;
    color: $color-white;
    padding: $space-md $space-lg;
    @include smooth-transition(color);

    &:hover {
      color: $color-secondary-light;
    }

    &--active {
      color: $color-secondary;
    }
  }
}
