@import "../../styles/index.scss";

.nav-desktop {
  display: flex;
  align-items: center;
  gap: $space-xl;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-lg;
  }
}
