@import "../../styles//index.scss";

.contact-form-wrapper {
  &__form {
    &__inputs {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
      }

      @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 12px 0;
        margin-bottom: 8px;

        input {
          padding: 10px;
        }

        @include tablet {
          width: 50%;
          margin-bottom: 12px;
        }

        @include desktop {
          width: 50%;
          margin-bottom: 12px;
        }
      }
    }
  }
}
