@import "../../styles//index.scss";

.header-wrapper {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: blueviolet;
  justify-content: space-between;

  &__burger {
    height: 48px;
    width: 48px;
    z-index: 1;
  }

  &__logo {
    height: 48px;
    width: 96px;
    background-color: red;
  }

  @include tablet {
    background-color: lightgreen;
  }

  @include desktop {
    background-color: chocolate;
  }
}
